<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- src/main/resources/mapper/ChargerMapper.xml -->
<mapper namespace="com.school.demo.mapper.ReservationMapper">

	<select id ="findReservationById" resultType = "com.school.demo.object.Reservations">
		Select * From reservations Where id = #{id};
	</select>
	
	<select id="findReservationByUsernameAndTime" resultType = "com.school.demo.object.Reservations">
		Select * From reservations Where username = #{username} AND startTime=#{startTime} AND endTime=#{endTime};
	</select>
	
	<select id = "findReservationByTime" resultType="com.school.demo.object.Reservations" >
		SELECT * FROM reservations WHERE chrgr_no = #{chrgr_no} AND ((#{startTime} &gt;= startTime AND #{startTime} &lt; endTime) OR (#{endTime} &gt; startTime AND #{endTime} &lt;= endTime) OR (#{startTime} &lt;= startTime AND #{endTime} &gt;= endTime))
	</select>

	<insert id="makeReservation">
		INSERT INTO reservations (username, chrgr_no, chrstn_nm, startTime, endTime) VALUES (#{username}, #{chrgr_no}, #{chrstn_nm}, #{startTime}, #{endTime});
    </insert>
    
    <delete id="deleteReservation">
    	Delete From reservations Where id = #{id};
   	</delete>
   	
   	
</mapper>